/* screenly reset */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  overflow: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'Montserrat', sans-serif */
}

html:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  content: '';
  position: absolute;
  background-size: cover;
  background-color: black;
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  /* padding: 3%; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

/* @media screen and (max-width: 1100px) {
  body {
    padding: 8% 10% 10% 10%
  }
} */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

section {
  top: 50%;
  padding: 0;
  z-index: 99;
  text-align: center;
  position: relative;
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transform: translateY(-55%)
}

section:after {
  width: 100%;
  content: ".";
  visibility: hidden;
  display: inline-block
}

/* end screenly reset */

.cfmb-color-1 {
  color: #FEC10D;
}
.cfmb-color-2 {
  color: #F16521;
}
.cfmb-color-3 {
  color: #ED1C24;
}
.cfmb-color-4 {
  color: #BE141A;
}
\
.cfmb-color-light {
  color: #ffffff;
}
.cfmb-color-dark {
  color: #000000
}


.cfmb-bg-color-1 {
  background-color: #FEC10D;
  color: #333333;
}
.cfmb-bg-color-2 {
  background-color: #F16521;
  color: #333333;
}
.cfmb-bg-color-3 {
  background-color: #ED1C24;
  color: #dedede;
}
.cfmb-bg-color-4 {
  background-color: #BE141A;
  color: #dedede;
}

.bg-dark {
  background-color: #000;
  color: #fff;
}
.bg-light {
  background-color: #fff;
  color: #000;
}

.content {
  height: 1920px;
  overflow: hidden;
  position: absolute;
  width: 1082px;
}

.hero {
  height: 600px;
  position: relative;
}
.hero img {
  height: 600px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero h1 {
  top: 519px;
  font-size: 6em;
  font-weight: bold;
  margin: 0 auto;
  /* margin-bottom: -13px; */
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.hero h1.xl {
  top: 491px;
  font-size: 8em;
  font-weight: bold;
}

.text {
  position: relative;
  text-align: center;
  vertical-align: top;
}

.text h1 {
  font-size: 5em;
  margin-bottom: 100px;
  margin-top: 50px;
}

.text p.big {
  font-size: 3em;
}
.text p.superbig {
  font-size: 5em;
}

.text span.highlight {
  color: goldenrod;
  display: block;
  font-weight: bold;
  margin: 20px auto;
}

/* .text .pop-date-1 {
  border-bottom: #F16521 3px solid;
  border-top: #F16521 3px solid;
  font-size: 9em;
  font-weight: bold;
  margin: 1em 0;
  padding-bottom: .5em;
  padding-top: .5em;
} */

.text .pop-date {
  color: #000;
  background-color: #F16521;
  font-size: 9em;
  font-weight: bold;
  margin: 1em 0;
  padding-bottom: .5em;
  padding-top: .5em;
}

.text .pop-date.bg-dark {
  background-color: #000;
}
.text .pop-date.bg-light {
  background-color: #fff;
}
.text .pop-date.bg-1 {
  background-color: #FEC10D;
}
.text .pop-date.bg-2 {
  background-color: #F16521;
}
.text .pop-date.bg-3 {
  background-color: #ED1C24;
}
.text .pop-date.bg-4 {
  background-color: #BE141A;
}

.text .intro,
.text .outro {
  font-size: 4em;
  margin-bottom: .5em;
  margin-top: .5em;
}
.text .intro {
  margin-top: 2em; 
}

.images-3 {
  text-align: center;
  white-space: nowrap;
}

.images-3>img {
  border: 0 none transparent;
  width: 33.333%;
}

p {
  font-size: 2em;
  margin: 20px;
}

ul {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 2em;
  margin: 25px;
}

li span.day {
  font-size: 1.3em;
  font-weight: bold;
}

ul.dates {
  font-size: 3em;
  margin: 75px auto;
}

div.divider {
  background-color: #fff;
  margin: 40px 0;
  padding: 40px;
  text-align: center;
  width: 100%;
}

.col-2 {
  display: block;
  padding: 20px 0;
}

.col-2>div {
  display: inline-block;
  position: relative;
}

.col-2 .rel-30 {
  width: 322px;
}
.col-2 .rel-40 {
  width: 430px;
}
.col-2 .rel-50 {
  width: 538px;
}
.col-2 .rel-60 {
  width: 646px;
}
.col-2 .rel-70 {
  width: 754px;
}

.p-right {
  text-align: right;
}