body {
  background-color: #000;
}

.bg-dark {
  background-color: #000;
  color: #fff;
}
.bg-light {
  background-color: #fff;
  color: #000;
}

.content {
  height: 1920px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  position: absolute;
  width: 1082px;
}

.hero {
  height: 600px;
  position: relative;
}
.hero img {
  height: 600px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero h1 {
  top: 519px;
  color: rgb(255, 210, 85);
  font-size: 6em;
  font-weight: bold;
  margin: 0 auto;
  /* margin-bottom: -13px; */
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.text {
  position: relative;
  text-align: center;
  vertical-align: top;
}

.text h1 {
  font-size: 5em;
  margin-bottom: 100px;
  margin-top: 50px;
}

.text p.big {
  font-size: 3em;
}

.text span.highlight {
  color: goldenrod;
  display: block;
  font-weight: bold;
  margin: 20px auto;
}

p {
  font-size: 2em;
  margin: 20px;
}

ul {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 2em;
  margin: 25px;
}

li span.day {
  font-size: 1.3em;
  font-weight: bold;
}

div.divider {
  background-color: #fff;
  margin: 40px 0;
  padding: 40px;
  text-align: center;
  width: 100%;
}

.col-2 {
  display: block;
  padding: 20px 0;
}

.col-2>div {
  display: inline-block;
  position: relative;
}

.col-2 .rel-30 {
  width: 322px;
}
.col-2 .rel-40 {
  width: 430px;
}
.col-2 .rel-50 {
  width: 538px;
}
.col-2 .rel-60 {
  width: 646px;
}
.col-2 .rel-70 {
  width: 754px;
}

.p-right {
  text-align: right;
}